/*
 * A CSS file for laying out our site
 */


body {
  background-color: #000;
  font-family: verdana;
  color: #FFF;
  padding: 0px;
  margin: 0px;
}

.previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.previews .frame {
  margin: 40px;
  position: relative;
}

.previews .frame .id {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  font-size: 19px;
  background-color: rgba(200, 0, 0, 0.8);
  text-align: center;
  color: #FFF;
  font-weight: bold;
  border-left: 1px solid #666;
  border-bottom: 1px solid #666;
  border-bottom-left-radius: 10px;
}

.previews img {
  display: block;
  max-width: 400px;
  border: 2px solid #CCC;
  border-radius: 10px;
}


.instructions {
  text-align: center;
  font-style: italic;
  margin: 50px 0px 10px;
}

.info {
  background-color: #FFF;
  padding: 20px;
  border-bottom: 4px solid #FFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #333;
}

.view {
  margin: 10px;
}

.view img {
  display: block;
  margin: auto;
  border: 1px solid #CCC;
  max-width: 100%;
}
