/*
 * A CSS file for rendering the layout
 */

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');


html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #E4E4E4;
}

.message {
  font-family: 'Arimo', cursive;
  font-size:5em;
  text-align: center;
  margin: 1em;
  flex: 1;
  color: #000066;
}

.seq {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-family: 'Cinzel', serif;
  font-size: 2em;
}

.status {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  font-size: 1em;
}
