/*
 * A CSS file for styling our app
 */

@import url('https://fonts.googleapis.com/css?family=Bad+Script|Permanent+Marker&display=swap');


body {
  margin: 0px;
  padding: 0px;
  background-color: #FAF0CA;
  color: #222;
  font-family: arial;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

a {
  color: #EE964B;
}

.body {
  flex: 1;
  max-width: 600px;
  margin: auto;
  width: 95%;
}

.header {
  padding: 30px;
  text-align: center;
}


.footer {
  text-align: center;
  padding: 30px;
  font-size: 11px;
}

h1 {
  color: #0D3B66;
  font-family: 'Permanent Marker';
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 10px;
}

.prompt label,
.prompt input {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.entry {
  margin-bottom: 30px;
  border: 2px solid #F95738;
  padding: 15px;
  background-color: #FFF;
  border-radius: 12px;
}

.entry p {
  font-family: 'Bad Script';
}

/*
 * Via: https://avexdesigns.com/responsive-youtube-embed/
 */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover {
  background-color: #EE964B;
  border: 2px solid #F95738;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover input {
  font-size: 250%;
  color: #0D3B66;
  font-family: 'Permanent Marker';
  background-color: #F95738;
  border-radius: 12px;
  padding: 1em;
}
