/*
 * Standard stylesheet stuff for the site
 */

body {
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #CCCCCC;
}

.page {
  max-width: 1000px;
  margin: auto;
}

.clear { clear: both; }

.w {
  width: 8px;
  height: 8px;
  border: 1px solid #888;
  background-color: #666;
  float: left;
  margin: 1px;
}

.w.f {
  background-color: #62D0FF;
}

.w.p {
  background-color: #222;
}
