/*
 * A CSS file for implementing the layout of basic UI 
 */

body {
  font-family: arial;
  background-color: #003f74;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: 'Merienda', cursive;
  color: white;
  text-align: center;
  font-size: 55px;
}

.hidden, .editor.hidden { display: none; }

.editor {
  height: 90%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.editor .auth-info {
  color: #E2E2E2;
}

.editor .auth-info a {
  color: #7796b1;
  text-decoration: none;
  font-size: 90%;
}

.editor textarea {
  flex: 1;
  padding: 5px;
}

.editor .save {
  font-size: 26px;
  padding: 8px;
  white-space: normal;
}

.sign-in {
  width: 300px;
  margin: 10% auto 0;
}

.message {
  background-color: orange;
  padding: 10px 20px;
  border: 1px solid orange;
}
